<!doctype html>

  
    <!-- slider-area-start -->
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider ptb-150 bg-opacity" style="background-image:url('../../Content/img/slider/4.jpg')" ;>
                <div class="container">
                    <div class="slider-text text-center">
                        <h1 class="cd-headline loading-bar">
                            <span>Dylan Schwarz | Web Developer | I am </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Professional</b>
                                <b>Awesome</b>
                                <b>Corporate</b>
                            </span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a class="active" href="#">View features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end -->
    <!-- What-wedo-area-start -->
    <div class="what-we-do-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-title text-center">
                        <h2>About Me</h2>
                        <p>
                            My name is Dylan Schwarz.
                            I am a hardworking and dedicated professional who is looking for opportunities as a Developer in the Kansas City Area. I’m just starting my new career in IT but I’ve had a passion for technology and share many of the skills that it takes to be a Developer for the last few years. Over the last 10 years of my professional working experience, a large part was spent both in the Sales Industry and in the Missouri Army National Guard. The Army strengthened my teamwork and problem-solving skills that allowed me to hold previous positions such as the Assistant Store Manager of a top 100 retail location and later grew into the Insurance Sales Industry where I most recently worked for a 2X TechWeek Award winner as an Internet based Insurance firm. It was there were I started to grow the curiosity for development that later took me to enrolling at Centriq. I am looking to work for a company with a proven onboarding process that cares about my progress as a WebDeveloper who is just getting started in the work force. I would love the opportunity to further discuss how your team/company can utilize my skills as a hardworking problem solver.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-What-wedo mb-30">
                        <div class="What-wedo-text text-center">
                            <div class="icon-box">
                                <i class="pe-7s-magic-wand"></i>
                            </div>
                            <h3>Free support & updates</h3>
                            <p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-What-wedo mb-30">
                        <div class="What-wedo-text text-center">
                            <div class="icon-box">
                                <i class="pe-7s-phone"></i>
                            </div>
                            <h3>Ultra responsive</h3>
                            <p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-What-wedo mb-30">
                        <div class="What-wedo-text text-center">
                            <div class="icon-box">
                                <i class="pe-7s-like"></i>
                            </div>
                            <h3>made with love</h3>
                            <p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-What-wedo mb-30">
                        <div class="What-wedo-text text-center">
                            <div class="icon-box">
                                <i class="pe-7s-folder"></i>
                            </div>
                            <h3>Premium plugins</h3>
                            <p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What-wedo-area-end -->
    <!-- counter-area-start -->
    <div class="counter-area fix">
        <div class="single-counter">
            <div class="counter-text">
                <h3>
                    <span class="counter">950</span>
                </h3>
                <h4>Downloads</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-text">
                <h3>
                    <span class="counter">643</span>
                </h3>
                <h4>Happy Customers</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-text">
                <h3>
                    <span class="counter">18</span>
                </h3>
                <h4>Valid layouts</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-text">
                <h3>
                    <span class="counter">572</span>
                </h3>
                <h4>Cups of tea</h4>
            </div>
        </div>
    </div>
    <!-- counter-area-end -->
    <!-- portfolio-area-start -->
    <div class="portfolio-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-title text-center">
                        <h2>Portfolio</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="portfolio-filter text-center">
                        <li class="filter active" data-filter="all">all</li>
                        <li class="filter" data-filter=".design">design</li>
                        <li class="filter" data-filter=".HTML5">HTML5</li>
                        <li class="filter" data-filter=".wordpress">wordpress</li>
                        <li class="filter" data-filter=".Seo">Seo</li>
                    </ul>
                </div>
                <div id="Container">
                    <div class="col-md-4 mix design Seo col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/1.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/1.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix Seo wordpress col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/2.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/2.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix wordpress design col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/3.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/3.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix design wordpress HTML5 col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/4.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/4.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix wordpress HTML5 col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/5.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/5.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix HTML5 Seo col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/6.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/6.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix design design col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/7.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/7.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix design design col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/8.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/8.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mix design wordpress col-sm-4">
                        <div class="single-portfolio mb-30">
                            <div class="portfolio-img">
                                <a href="#"><img src="~/content/img/portfolio/9.jpg" alt="" /></a>
                            </div>
                            <div class="portfolio-info">
                                <div class="portfolio-icon">
                                    <a class="image-link" href="~/content/img/portfolio/9.jpg"><i class="fa fa-plus"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio-area-end -->
    
