
@{
    ViewBag.Title = "Resume";
}



<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-title text-center">
                    <h2>Resume&#771;</h2>

                    <div class="">
                        <div class="text-primary">
                            <p class="lead">Click below to check out my Resume and get details of my previous work history, a list of my technical skills, some previous projects of mine or other ways to contact me.</p>
                            <a class="btn btn-primary" href="~/Content/PDF Resume.pdf" role="button">click here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-image"></i>
                    </div>
                    <div class="service-text">
                        <h4>Creative Thinker</h4>
                        <p> Coming up with new ways to complete projects or find creative ideas to de-bug. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="service-text">
                        <h4>Open Minded</h4>
                        <p>A diverse working background has given me the ability to work for and with all types of people.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="service-text">
                        <h4>Full Stack Developer</h4>
                        <p> Experiance in: HTML5, JavaScript, jQuery, CSS3, C#.NET, SQL, Visual Studio, and Zoom </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="service-text">
                        <h4>Team Player</h4>
                        <p> Proven ability to work effectively and properly communicate as a team. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="service-text">
                        <h4>Time Manager</h4>
                        <p> Experiance working with deadlines. As well as the ability to prioritize my workload. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="service-text">
                        <h4>Remote Work</h4>
                        <p> Has worked remotely full-time. With experiance in Zoom, Slack and other communication applications. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-area-end -->
